a {
  text-decoration: none;
  color: rgb(223, 227, 228);
}

a:link {
  color: rgb(223, 227, 228);
}

a:visited {
  color: rgb(223, 227, 228);
}

.accordion-button {
  padding: 0 !important;
  padding-right: 1.25rem !important;
  box-shadow: none !important;
  background-color: white !important;
}

button {
  background-color: white;
  border: none;
  padding: 0;
  height: 100%;
  width: 100%;
}

p {
  font-family: "GothamLight";
}

h5 {
  font-family: "Gotham";
  font-size: large;
}

.App {
  text-align: center;
}

.brandRow {
  background-color: white;
  height: 80px;
  padding-right: 75px;
  padding-top: 20px;
}

.card {
  position: inherit !important;
  border: 1px solid black !important;
  animation: fadeIn 2s;
}

.card-text {
  color: black;
}

.container {
  margin-bottom: 100px;
}

/* .contentRow {
  padding-top: 10px;
  min-height: 350px;
} */

.fullImage {
  max-width: 100%;
}
.imageRow {
  margin-top: 20px;
}

.image {
  max-width: 100%;
}

.linkLogos {
  font-size: 40px;
  color: rgb(223, 227, 228);
}

#gitLogo:hover {
  color: black;
}

#mailLogo:hover {
  color: black;
}

#twitterLogo:hover {
  color: black;
}

.logoRow {
  padding-top: 5vh;
  background-color: white;
  padding-bottom: 2vh;
}

.mobileImage {
  width: 100%;
}

.photoPanel {
  margin-bottom: 1rem;
}

.photoImg {
  width: 100%;
  animation: fadeIn 2s;
}

.photoText {
  width: 100%;
  animation: fadeIn 2s;
}

.photosRow {
  margin-bottom: 50px;
  min-height: 500px;
}

.textField {
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @keyframes slideIn {
  from {transform: translateY(100px);}
  to {transform: translateY(0px);}
} */

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../src/fonts/GothamPro-Black.woff") format("woff");
}
@font-face {
  font-family: "GothamLight";
  src: local("GothamLight"),
    url("../src/fonts/GothamPro-Light.woff") format("woff");
}

@font-face {
  font-family: "Raleway-Black";
  src: local("Raleway-Black"),
    url("../src/fonts/Raleway-Black.ttf") format("woff");
}

@font-face {
  font-family: "Raleway-Medium";
  src: local("Raleway-Medium"),
    url("../src/fonts/Raleway-Medium.ttf") format("woff");
}

@media (min-width: 500px) {
  .logoRow {
    padding-top: 0;
    padding-bottom: 2vh;
  }
}

@media (max-width: 760px) {
  .photoText {
    min-height: 330px;
    padding-top: 175px;
  }
  .brandRow {
    padding-right: 40px;
  }
  #standardLogo {
    display: none;
  }
  .fullImage {
    display: none;
  }
  .accordion-button::after {
    display: none;
  }
  .accordion-button {
    padding-right: 0 !important;
  }
}
@media (min-width: 761px) {
  #mobileLogo {
    display: none;
  }
  .mobileImage {
    display: none;
  }
}
